apiVersion: v1
kind: Secret
metadata:
  name: unleash-creds
  namespace: default
type: Opaque
stringData:
  credentials: |
    {
      "base_url": "http://my-unleash:4242",
      "authorization": "$TOKEN"
    }
